.task span {
  flex-grow: 1;
}

.task {
  background-color: #f9f9f9;
  padding: 10px 10px 10px 20px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
